<!DOCTYPE html>
<html>

<head>
    <title>
        个人高效工作台
    </title>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/js/bench.js"></script>
    <script src="/js/vue.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="/js/socket.io.js"></script>
<script>Vue.config.devtools=true</script>
</head>

<body>

    <div id="topbar"></div>
    <script type="text/html" id="tpl-topbar">
        <div>
            <el-button type="primary" @click="addApp">添加应用</el-button>


            <el-dialog
  title="提示"
  :visible.sync="dialogVisible"
  width="80%"
  >
  <el-form :model="form"  size="small" label-width="100px">
  <el-upload
  class="avatar-uploader"
  action="/file/upload"
  :show-file-list="false"
  :on-success="uploadSuccess"
  :before-upload="beforeUpload">
  <img v-if="form.app_icon" :src="form.app_icon" class="app-icon">
  <i v-else class="el-icon-plus avatar-uploader-icon"></i>
</el-upload>

        <el-form-item label="名称">
          <el-input v-model="form.app_name" ></el-input>
        </el-form-item>
        <el-form-item label="类型">
          <el-select v-model="form.app_type" >
            <el-option label="按钮" value="1"></el-option>
            <el-option label="面板" value="2"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="template">
                <el-input type="textarea" v-model="form.template" ></el-input>
              </el-form-item>
              <el-form-item label="script">
                    <el-input type="textarea" v-model="form.script" ></el-input>
                  </el-form-item>
                  <el-form-item label="style">
                        <el-input type="textarea" v-model="form.style" ></el-input>
                      </el-form-item>
      </el-form>
  <span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="save">确 定</el-button>
  </span>
</el-dialog>
           
        </div>
    </script>
    <script>
        new Vue({
            el: '#topbar',
            template: '#tpl-topbar',
            data: function () {
                return {
                    form: {
                        
                    },
                    dialogVisible: false
                }
            },
            methods: {
                addApp: function () {
                    this.form = {
                        app_type: '1',
                        app_name: '',
                        script: '',
                        template: '',
                        style: '',
                        app_icon:''
                    }
                    this.dialogVisible = true
                },
                save: function () {
                    fetch('/app/add', {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(this.form)
                    }).then(res => res.json()).then(res => {
                        this.dialogVisible = false
                        this.$message.success(res.message)
                    })
                },
                uploadSuccess:function(res){
                    this.form.app_icon  = res.data.url
                },
                beforeUpload:function(){}
            }

        })
    </script>
    
<div class="app-list">
    <% apps.forEach(function(item){ %>

    <% if(item.app_type==='2') { %>
        <div id="app-<%= item.id %>"></div>
    <script type="text/html" id="tpl-app-<%= item.id %>">
                <%- item.template %>
        </script>

    <script>
       var app<%= item.id %> = new Vue(Object.assign(<%- item.script %>,{template:'#tpl-app-<%= item.id %>'})).$mount('#app-<%= item.id %>')
    </script>
    <% } else { %>
    <div class="app" id="app-<%= item.id %>">
        <div class="app-icon"  style="background-image:url(<%= item.app_icon %>)" onclick="_app_<%= item.id %>_click()"></div>
        <div class="app-name"><%= item.app_name %></div>
    </div>
    <script type="text/javascript">
        function _app_<%= item.id %>_click(){
            <%- item.script %>
        }
    </script>

    <% } %>
    <% }) %>
</div>

<div class="console">
<ul class="console-log" ref="log">
<li v-for="msg in msgList">
{{msg.msg}}
</li>
</ul>
</div>
<script type="text/javascript">
Bench.console = new Vue({
    el:'.console',
    data:function(){
        return {
            msgList:[{
                msg:'console ready'
            }]
        }
    },
    created:function(){

    },
    methods:{
        log:function(msg){
            this.msgList.push({
                msg:msg
            })
            this.$nextTick(function(){
                this.$refs.log.scrollTop = this.$refs.log.scrollHeight
            })
        }
    }
})
</script>
</body>

</html>